---js
{
layout: 'layout.njk',
eleventyExcludeFromCollections: true,
title: 'Samy Ouaret',
pagination: {
data: 'collections.posts',
size: 3,
alias: 'posts',
before: function(data) {
return data.slice(-3).map(post => post).reverse();
}
}
}
pagination:
data: collections.projects
size: 3
reverse: true
alias: projects
---

{%- include "components/home.njk" -%}
{%- include "components/projects_section.njk" -%}
<div class="flex flex-col">
    <h3 class="text-3xl mb-5 font-bold text-gray-800">Latest articles</h3>
    {% include "postslist.njk" %}
    {% if posts.size != 0 %}
    <a class="text-lg hover:text-gray-800 text-gray-600" href="/blog">View all articles</a>
    {% endif %}
</div>