<div class="flex flex-col mb-16">
    <p class="text-3xl mb-5 font-bold text-gray-800">What I do</p>
    <p class="text-xl leading-10 text-gray-600" >
    I’m a backend engineer, I have been doing web development since 2015, I’m based currently in Algeria Where I was born and I've got My Bachelor's degree in Computer systems.
    I study an MSc in Computer Networking and Multimedia. 
    I like to write quality software and web applications.
    I care more about details, clean code, testing,
    and APIs, I write code using PHP, Javascript, NodeJs, 
    and React to build web solutions and websites. 
    I like reading about history and sociology, playing and watching football. </p>
</div>