/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

.nav {
    @apply flex flex-wrap justify-between items-center;
}


.nav-links {
    @apply flex flex-col w-full;
}

.toggle-area {
    @apply w-full h-0 overflow-hidden;
}

@screen md {
    .nav {
        @apply justify-between;
    }

    .nav-links {
        @apply flex-row justify-between;
    }

    .toggle-area {
        width: auto;
        height: auto !important;
        overflow: auto !important;
    }
}

.nav-item {
    @apply text-gray-800 text-lg p-3;
}

.nav-item:hover {
    @apply text-blue-600;
}

.nav-item:hover {
    @apply text-blue-600;
}

.nav-toggler {
    @apply w-10 h-10 border border-gray-200 rounded-sm p-1 cursor-pointer;
}

@screen md {
    .nav-toggler {
        display: none;
    }
}

.page-next,
.page-prev {
    @apply block rounded-sm py-1 px-2 bg-gray-100 border border-gray-300 text-gray-900 text-lg;
}

.page-next :hover,
.page-prev :hover {
    @apply text-blue-600;
}


@tailwind utilities;