---
eleventyExcludeFromCollections: true
layout: layout.njk
templateClass: lg:w-11/12 xl:w-10/12 max-w-screen-lg
title: Projects | Samy Ouaret
style: /static/css/tailwind.css
pagination:
  data: collections.projects
  size: 40
  reverse: true
  alias: projects
---
<div class="mt-16">
{% include "projectslist.njk" %}
</div>
<nav aria-labelledby="my-pagination">
  <ol class="my-8 flex flex-row justify-between">
   <li>
   {% if pagination.href.previous %}
   <a href="{{ pagination.href.previous }}" class="page-prev">Previous page</a>
   {% endif %}
   </li>
    <li>
   {% if pagination.href.next %}
   <a href="{{ pagination.href.next }}" class="page-next">Next page</a>
   {% endif %}
   </li>
  </ol>
</nav>